<%= simple_form_for @provider, defaults: { input_html: { class: 'span10' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <div class='span6'>
        <%= f.input :name %>
        <%= f.input :contact %>
        <%= f.input :address %>
        <%= f.input :cuit %>
        <%= f.input :phone %>
      </div>
      <div class='span6'>
        <%= f.input :province, collection: argentina_provinces, selected: 'Mendoza' %>
        <%= f.input :city, collection: [], prompt: true %>
        <%= f.input :locality %>
        <div class='row-fluid'>
          <div class='span4'>
            <%= f.input :postal_code, input_html: { class: 'span8' } %>
          </div>
          <div class='span8'>
            <%= f.input :fax, input_html: { class: 'span9' } %>
          </div>
        </div>
        <%= f.input :other_phone %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>

<% content_for :bottom_extra_js do %>
  <%= javascript_tag '$("#provider_province").linkToStates("#provider_city")' %>
  <%= javascript_tag '$("#provider_province").change()' %>
<% end %>
