<% if @providers.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Provider.human_attribute_name 'name' %></th>
            <th><%= Provider.human_attribute_name 'contact' %></th>
            <th><%= Provider.human_attribute_name 'address' %></th>
            <th><%= Provider.human_attribute_name 'cuit' %></th>
            <th><%= Provider.human_attribute_name 'phone' %></th>
            <th class='not-printable' colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @providers.each do |provider| %>
            <tr>
              <td><%= provider.name %></td>
              <td><%= provider.contact %></td>
              <td><%= provider.address %></td>
              <td><%= provider.cuit %></td>
              <td><%= provider.phone %></td>
              <td class='not-printable'>
                <%= link_to(
                  '&#xe055;'.html_safe, provider_products_path(provider),
                  class: 'iconic'
                ) %>
              </td>
              <td class='not-printable'><%= link_to_show provider %></td>
              <td class='not-printable'><%= link_to_edit(
                  edit_provider_path(provider)
                )if can? :update, provider %></td>
              <td class='not-printable'><%= link_to_destroy provider if can? :destroy, provider %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@providers) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.providers.new', default: 'label.new'),
    new_provider_path, class: 'btn btn-primary'
  ) if can? :create, Provider %>
</div>
