<fieldset class="row-fluid transfer_line" data-price="<%= f.object.price %>">
  <% id = f.object.object_id %>
  <div class="span4">
    <%= f.input :auto_product_name, label: false, input_html: {
      class: 'autocomplete-field-after-tab span11 price-modifier',
      value: f.object.product, autofocus: true,
      autocomplete: 'off', tabindex: 2,
      data: {
        'autocomplete-id-target' => "#transfer_product_transfer_lines_product_id_#{id}",
        'autocomplete-url' => autocomplete_for_product_name_transfer_products_path(
          format: :json
        )
      }                                                                                    
    }  %>
    <%= f.input :product_id, as: :hidden, input_html: {
      class: 'autocomplete-id', 
      id: "transfer_product_transfer_lines_product_id_#{id}"
    } %>
  </div>
  <div class='span2'>
    <%= f.input :quantity, label: false, as: :string,
      input_html: { value: f.object.quantity || 1, tabindex: 2,
      class: 'price-modifier span11', autocomplete: 'off' } %>
  </div>
  <span class='label' data-retail-unit='true'>
    <%= f.object.try(:product).try(:retail_unit) || '--' %>
  </span>
  | 
  <span class='money badge' data-iva-cost='true' 
    title="<%= Product.human_attribute_name 'iva_cost' %>">
    <%= number_to_currency(f.object.try(:product).try(:iva_cost) || 0) %>
  </span>
  |
  <span class='money badge' data-total-price='true'
    title="<%= 'Total' %>">
    <%= number_to_currency(
      (f.object.try(:product).try(:iva_cost).to_f * f.object.try(:quantity).to_f) || 0
    ) %>
  </span>

  <%= link_to_remove_nested_item(f) %>
</fieldset>
