<% if @sellers.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Seller.human_attribute_name 'code' %></th>
            <th><%= Seller.human_attribute_name 'name' %></th>
            <th><%= Seller.human_attribute_name 'address' %></th>
            <th><%= Seller.human_attribute_name 'phone' %></th>
            <th class='not-printable' colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sellers.each do |seller| %>
            <tr>
              <td><%= seller.code %></td>
              <td><%= seller.name %></td>
              <td><%= seller.address %></td>
              <td><%= seller.phone %></td>
              <td class='not-printable'><%= link_to_show seller %></td>
              <td class='not-printable'><%= link_to_edit edit_seller_path(seller) if can? :update, seller %></td>
              <td class='not-printable'><%= link_to_destroy seller if can? :destroy, seller %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@sellers) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.sellers.new', default: :'label.new'),
    new_seller_path, class: 'btn btn-primary'
  ) if can? :create, Seller %>
</div>
