<% controllers = ['users', 'providers', 'sellers', 'places', 'customers', 'stats'] %>
<li class="dropdown <%= 'active' if controllers.include?(controller_name) %>">
  <%= link_to(
    "#{t('menu.admin')} <b class='caret'></b>".html_safe, '#', 
    class: "dropdown-toggle", data: { toggle: 'dropdown' }
  ) %>
  <ul class='dropdown-menu'>
    <%= show_menu_link(
      name: 'customers', controllers: 'customers', path: customers_path
    ) if can?(:read, Customer) %>
    <%= show_menu_link(
      name: 'places', controllers: 'places', path: places_path
    ) if can?(:read, Place) %>
    <%= show_menu_link(
      name: 'providers', controllers: 'providers', path: providers_path
    ) if can?(:read, Provider) %>
    <%= show_menu_link(
      name: 'sellers', controllers: 'sellers', path: sellers_path
    ) if can?(:read, Seller) %>
    <%= show_menu_link(
      name: 'users', controllers: 'users', path: users_path
    ) if can?(:read, User) %>
    <%= show_menu_link(
      name: 'stats', controllers: 'stats', path: stats_path
    ) if can?(:read, :stats) %>
  </ul>
</li>
