<% if @customers.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Customer.human_attribute_name 'name' %></th>
            <th><%= Customer.human_attribute_name 'business_name' %></th>
            <th><%= Customer.human_attribute_name 'iva_kind' %></th>
            <th><%= Customer.human_attribute_name 'cuit' %></th>
            <th class='not-printable' colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.name %></td>
              <td><%= customer.business_name %></td>
              <td><%= translation_for_customer_kind(customer.iva_kind) %></td>
              <td><%= customer.cuit %></td>
              <td class='not-printable'><%= link_to_show customer %></td>
              <td class='not-printable'><%= link_to_edit edit_customer_path(customer) if can? :update, customer %></td>
              <td class='not-printable'><%= link_to_destroy customer if can? :destroy, customer %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= paginate(@customers) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.customers.new', default: :'label.new'),
    new_customer_path, class: 'btn btn-primary'
  ) if can? :create, Customer %>
</div>
