<div class="readonly-data">
  <h2><%= @customer %></h2>

  <p>
    <strong><%= Customer.human_attribute_name 'name' %></strong>:
    <%= @customer.name %>
  </p>
  <p>
    <strong><%= Customer.human_attribute_name 'business_name' %></strong>:
    <%= @customer.business_name %>
  </p>
  <p>
    <strong><%= Customer.human_attribute_name 'iva_kind' %></strong>:
    <%= @customer.iva_kind %>
  </p>
  <p>
    <strong><%= Customer.human_attribute_name 'bill_kind' %></strong>:
    <%= @customer.bill_kind %>
  </p>
  <p>
    <strong><%= Customer.human_attribute_name 'address' %></strong>:
    <%= @customer.address %>
  </p>
  <p>
    <strong><%= Customer.human_attribute_name 'cuit' %></strong>:
    <%= @customer.cuit %>
  </p>
  <p>
    <strong><%= Customer.human_attribute_name 'phone' %></strong>:
    <%= @customer.phone %>
  </p>
  
</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_customer_path(@customer) if can? :update, @customer %> |
  <%= link_to t('label.list'), customers_path %>
</div>
