<%= simple_form_for @product, defaults: { as: :string, input_html: { class: 'span6' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='page-header'>
      <div class='row-fluid'>
        <div class='span3'>
          <%= f.input :code, input_html: { class: 'span10' } %>
        </div>
        <div class='span9'>
          <%= f.input :description, input_html: { class: 'span9' } %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span4'>
          <%= f.label :provider_id %>
          <%= f.input :auto_provider_name, label: false, input_html: { 
            value: @product.provider, class: 'autocomplete-field span10',
            data: {
              'autocomplete-id-target' => '#product_provider_id',
              'autocomplete-url' => autocomplete_for_provider_name_products_path(format: :json)
            }
          } %>
          <%= f.input :provider_id, as: :hidden,
            input_html: { class: 'autocomplete-id' } %>
        </div>
        <div class='span2'>
          <%= retail_unit_select_for_product(f) %>
        </div>
        <div class='span2'>
          <%= purchase_unit_select_for_product(f) %>
        </div>
        <div class='span4'>
          <%= f.input :unity_relation, input_html: { class: 'span6' } %>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span3'>
          <%= f.input :total_stock %>
        </div>
        <div class='span3'>
          <%= f.input :min_stock %>
        </div>
        <div class='span2'>
          <%= f.input :packs, input_html: { class: 'span6 stock-modifier' } %>
        </div>
        <div class='span4'>
          <%= f.input :pack_content, input_html: { class: 'span6 stock-modifier' } %>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span6'>
        <%= f.input :cost %>
        <%= f.input :iva_cost, input_html: { class: 'span6 price-modifier' } %>
        <%= f.input :gain, input_html: { class: 'span6 price-modifier' } %>
      </div>
      <div class='span6'>
        <%= f.input :retail_price %>
        <%= f.input :unit_price %>
        <%= f.input :special_price %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
