<% if @products.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Product.human_attribute_name 'code' %></th>
            <th><%= Product.human_attribute_name 'description' %></th>
            <th><%= Product.human_attribute_name 'total_stock' %></th>
            <th><%= Product.human_attribute_name 'iva_cost' %></th>
            <th><%= Product.human_attribute_name 'unit_price' %></th>
            <th><%= Product.human_attribute_name 'provider_id' %></th>
            <th class='not-printable' colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.code %></td>
              <td><%= product.description %></td>
              <td><%= product.total_stock %></td>
              <td><%= number_to_currency product.iva_cost %></td>
              <td><%= number_to_currency product.unit_price %></td>
              <td><%= link_to(
                product.provider, provider_path(product.provider)
              ) if product.provider %></td>
              <td class='not-printable'>
                <%= link_to '&#xe03b;'.html_safe, 
                  put_to_stock_product_path(product), 
                  class: 'put_to_stock iconic' %>
              </td>
              <td class='not-printable'><%= link_to_show product %></td>
              <td class='not-printable'><%= link_to_edit(
                edit_product_path(product)
              ) if can? :update, product %></td>
              <td class='not-printable'>
                <%= link_to_destroy product if can? :destroy, product %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@products) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.products.new', default: :'label.new'),
    new_product_path, class: 'btn btn-primary'
  ) if can? :create, Product %>
</div>

<script type="text/javascript" charset="utf-8">
  Message.quantity_to_put_in_stock = 
    '<%= t("view.products.quantity_to_put_in_stock") %>';
</script>
