<% if @products.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <% if params[:provider_id] %>
    <h2><%= @provider %></h2>
  <% end %>
  <div class="row-fluid">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Product.human_attribute_name 'code' %></th>
            <th><%= Product.human_attribute_name 'description' %></th>
            <% if params[:provider_id] %>
              <th><%= Product.human_attribute_name 'min_stock' %></th>
              <th><%= Product.human_attribute_name 'cost' %></th>
              <th><%= Product.human_attribute_name 'total_stock' %></th>
              <th><%= Product.human_attribute_name 'packs' %></th>
            <% else %>
              <th><%= Product.human_attribute_name 'iva_cost' %></th>
              <th><%= Product.human_attribute_name 'total_stock' %></th>
              <th><%= Product.human_attribute_name 'provider_id' %></th>
            <% end %>
            <th class='not-printable' colspan="4">
              <%= print_low_stock_button %>
            </th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.code %></td>
              <td><%= product.description %></td>
              <% if params[:provider_id] %>
                <td><%= product.min_stock %></td>
                <td><%= number_to_currency product.cost %></td>
                <td><%= [product.total_stock, product.retail_unit].join(' ') %></td>
                <td><%= product.packs %></td>
              <% else %>
                <td><%= number_to_currency product.iva_cost %></td>
                <td><%= [product.total_stock, product.retail_unit].join(' ') %></td>
                <td><%= link_to(
                  truncate(product.provider.to_s), provider_path(product.provider)
                ) if product.provider %></td>
              <% end %>
              <td class='not-printable'>
                <%= link_to '&#xe03b;'.html_safe, 
                  put_to_stock_product_path(product), 
                  title: t('view.products.add_stock'),
                  class: 'put_to_stock iconic', data: { show_tooltip: true } %>
              </td>
              <td class='not-printable'><%= link_to_show product %></td>
              <td class='not-printable'><%= link_to_edit(
                edit_product_path(product)
              ) if can? :update, product %></td>
              <td class='not-printable'>
                <%= link_to_destroy product if can? :destroy, product %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@products) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.products.new', default: :'label.new'),
    new_product_path, class: 'btn btn-primary'
  ) if can? :create, Product %>
</div>

<script type="text/javascript" charset="utf-8">
  Message.quantity_to_put_in_stock = 
    '<%= t("view.products.quantity_to_put_in_stock") %>';
</script>
