<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors[:base].any? %>
    <div class='alert alert-error'>
      <%= f.object.errors[:base].join('; ') %>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class='row-fluid'>
      <div class='span2'>
        <%= f.input :seller_code, input_html: {
          class: 'span6', autofocus: true, autocomplete: 'off',
          value: @sale.seller.try(:code), tabindex: 1, 
          data: { 'enter-scape' => true }
        } %>
      </div>
      <div class='span7'>
        <%= f.label :customer_id %>
        <%= f.input :auto_customer_name, label: false, input_html: {
          class: 'autocomplete-field span9',
          value: @sale.customer,
          data: {
            'autocomplete-id-target' => '#sale_customer_id',
            'autocomplete-url' => autocomplete_for_customer_name_sales_path(format: :json)
          }
        }  %>
        <%= f.input :customer_id, as: :hidden %>
        <%= f.input :default_price_type, as: :hidden %>
      </div>
      <div class='span3'>
        <%= sale_kind_select_for_sale(f) %>
      </div>
    </div>
    <div class='page-header'>
      <div class='row-fluid'>
        <div class='span4'>
          <h4><%= ProductLine.human_attribute_name('product_id') %></h4>
        </div>
        <div class='span2'>
          <h4><%= ProductLine.human_attribute_name('quantity') %></h4>
        </div>
        <div class='span2'>
          <h4><%= Product.human_attribute_name('unit_price') %></h4>
        </div>
        <div class='span2'>
        </div>
      </div>
    </div>
    <div id='product_lines'>
      <% @sale.product_lines.build if @sale.product_lines.size == 0 %>
      <%= f.simple_fields_for :product_lines do |pl| %>
        <%= render partial: 'product_line', locals: { f: pl } if pl.object %>
      <% end %>

      <%= link_to_add_fields t('view.sales.new_product_line'), f, :product_lines %>
    </div>
    <div class='row-fluid'>
      <div class='pull-right'>
        <%= f.input :total_price, input_html: { readonly: true } %> 
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :place_id, as: :hidden, input_html: { value: current_user.try(:place_id) } %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
