<fieldset class="row-fluid product_line" data-price="<%= f.object.price %>">
  <% id = f.object.object_id %>
  <div class="span4">
    <%= f.input :auto_product_name, label: false, input_html: {
      class: 'autocomplete-field-without-ui price-modifier span11',
      value: f.object.product, autofocus: true,
      autocomplete: 'off', tabindex: 2,
      data: {
        'autocomplete-id-target' => "#sale_product_lines_product_id_#{id}",
        'autocomplete-unit-price-target' => "#sale_product_lines_unit_price_#{id}",
        'autocomplete-url' => autocomplete_for_product_name_sales_path(format: :json)
      }                                                                                    
    }  %>
    <%= f.input :product_id, as: :hidden, input_html: {
      class: 'autocomplete-id', id: "sale_product_lines_product_id_#{id}" } %>
  </div>
  <div class='span2'>
    <%= f.input :quantity, label: false, as: :string,
      input_html: { value: f.object.quantity || 1, tabindex: 2,
      class: 'price-modifier span8', autocomplete: 'off' } %>
  </div>
  <div class='span2'>
    <%= f.input :unit_price, label: false, as: :string,
      input_html: { class: 'price-modifier span8', readonly: true,
      value: f.object.unit_price, autocomplete: 'off',
      id: "sale_product_lines_unit_price_#{id}" } %>
  </div>
  <div class="span2 nested-actions">
    <span class='money badge'>
      <%= number_to_currency(f.object.price || 0) %>
    </span>
    <%= f.input :price, as: :hidden %>
    <%= link_to_remove_nested_item(f) %>
  </div>
</fieldset>
