<div class="readonly-data">
  <h2><%= (l @sale.created_at).camelize %></h2>

  <p>
    <strong><%= Sale.human_attribute_name 'customer_id' %></strong>:
    <%= @sale.customer %>
  </p>
  <p>
    <strong><%= Sale.human_attribute_name 'seller_id' %></strong>:
    <%= @sale.seller %>
  </p>
  <p>
    <strong><%= Sale.human_attribute_name 'sale_kind' %></strong>:
    <%= @sale.sale_kind %>
  </p>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= ProductLine.human_attribute_name 'product_id' %></th>
        <th><%= ProductLine.human_attribute_name 'quantity' %></th>
        <th><%= Product.human_attribute_name 'unit_price' %></th>
        <th></th>
        <th><%= ProductLine.human_attribute_name 'price' %></th>
      </tr>
    </thead>
    <tbody>
      <% @sale.product_lines.each do |pl| %>
        <tr>
          <td><%= pl.product %></td>
          <td><%= pl.quantity %></td>
          <td><%= number_to_currency pl.price %></td>
          <td><%= Product.human_attribute_name pl.price_type %></td>
          <td><%= number_to_currency pl.final_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% unless @sale.common_bill? %>
    <% without_taxes = @sale.total_without_taxes %>
    <h5>
      Neto:  => <%= number_to_currency(without_taxes) %> |
      I.V.A. => <%= number_to_currency(@sale.total_price - without_taxes) %>
    </h5>
  <% end %>

  <h3>
    <%= Sale.human_attribute_name 'total_price' %>:
    <%= number_to_currency @sale.total_price %>
  </h3>

</div>
<div class="form-actions">
  <%= link_to t('label.list'), sales_path %>
</div>
